<div class="content-block event-block">
    <div class="event-name-wrapper">
        <div class="event-block-name nowrap">{{ event.name }}</div>
        <div class="event-block-link float-right">
            <a href="event?id={{ event.id }}" class="disable-link-color">
                <i class="fa fa-external-link"></i>
            </a>
        </div>
        <div class="clearfix"></div>
    </div>
    <hr/>
    <div class="event-block-content nowrap">Date: <b>{{ event.human_date }}</b></div>
    {% if event.celebrant %}
        <br/>
        <div class="event-block-content nowrap">Celebrant: <b>{{ event.celebrant.full_name }}</b></div>
    {% endif %}
    {% if event.host %}
        <br/>
        <div class="event-block-content nowrap">Host: <b>{{ event.host.full_name }}</b></div>
    {% endif %}
    {% if event.participants %}
        <br/>
        <div class="event-block-content nowrap">Participants: <b>{{ event.participants.all|length }}</b></div>
    {% endif %}
</div>