        <header id="nav-menu">
            <a href="/" class="nav-button left {% if active == 'home' %}active{% endif %}">Home</a>
            <a href="events" class="nav-button left {% if active == 'events' %}active{% endif %}">Events</a>
            <a href="users" class="nav-button left {% if active == 'users' %}active{% endif %}">Users</a>
            <a href="settings" class="nav-button right {% if active == 'settings' %}active{% endif %}" title="Settings"><i class="fa fa-gear desktop-only"></i><span class="mobile-only">Settings</span></a>
            <a href="log_out" class="nav-button right">Log out</a>
            <a class="expand-icon">
                <i class="fa fa-bars"></i>
            </a>
            <div class="clearfix"></div>
        </header>
