{% load static %}
{% load sass_tags %}
{% load birthday_organizer_extras %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'font_awesome.min.css' %}">

        <link class="theme-stylesheet theme-stylesheet-ntv" href="{% sass_src 'nightvision_theme.scss' %}{% version_variable %}" rel="stylesheet" type="text/css" {% if request.user.theme != 'NTV' %}disabled="disabled"{% endif %} />
        <link class="theme-stylesheet theme-stylesheet-mmm" href="{% sass_src 'milk_mint_theme.scss' %}{% version_variable %}" rel="stylesheet" type="text/css" {% if request.user.theme != 'MMM' %}disabled="disabled"{% endif %} />
        <link class="theme-stylesheet theme-stylesheet-prh" href="{% sass_src 'purplehaze_theme.scss' %}{% version_variable %}" rel="stylesheet" type="text/css" {% if request.user.theme != 'PRH' %}disabled="disabled"{% endif %} />
        <link class="theme-stylesheet theme-stylesheet-cpr" href="{% sass_src 'caprese_theme.scss' %}{% version_variable %}" rel="stylesheet" type="text/css" {% if request.user.theme != 'CPR' %}disabled="disabled"{% endif %} />
        <link class="theme-stylesheet theme-stylesheet-str" href="{% sass_src 'strypes_theme.scss' %}{% version_variable %}" rel="stylesheet" type="text/css" {% if request.user.is_authenticated %}{% if request.user.theme != 'STR' %}disabled="disabled"{% endif %}{% endif %} />

        <link href="{% static 'jquery-ui.css' %}{% version_variable %}" rel="stylesheet" type="text/css" />
        <script src="{% static 'jquery-3.6.0.min.js' %}{% version_variable %}"></script>
        <script src="{% static 'jquery-ui.min.js' %}{% version_variable %}"></script>
        <script src="{% static 'calendar.js' %}{% version_variable %}"></script>
        <script src="{% static 'general.js' %}{% version_variable %}"></script>
        <link rel="icon" href="{% static 'strypes_logo.png' %}{% version_variable %}" type="image/png">
        <title>Birthday Organizer</title>
    </head>
    <body>
