#calendar {
	max-width: 100%;
	position: relative;

	table {
		border-spacing: 4px;
		background-color: white;
		border: 2px solid $theme_color_main_light;
		border-radius: 3px;
	}


	.calendar-title-row td {
		text-align: center;
		border-bottom: 2px solid $theme_color_main_light;
		color: $theme_color_main_light;
		font-weight: bold;
		border-radius: 10px;
	}

	.calendar-day-header {
		text-align: center;
		color: $theme_color_main_light;
	}

	.calendar-day {
		position: relative;
		background-color: $theme_color_background_light;
		border: 1px solid $theme_color_main_dark;
		text-align: center;
		vertical-align: middle;
		width: 2em;
		height: 2em;
		border-radius: 25%;
		cursor: pointer;
		color: $theme_color_main_dark;

		&.today {
			border: 1px solid $theme_color_main_light;
			box-shadow: 0px 0px 3px 1px $theme_color_main_light inset;
		}

		&:hover {
			box-shadow: 0px 0px 4px 1px $theme_color_main_light;
		}

		&.empty {
			border-color: transparent;
			cursor: default;
			box-shadow: none;
			background-color: transparent;
		}

		.event-marker {
			width: 7px;
			height: 7px;
			border-radius: 50%;
			position: absolute;

			&.event-participating {
				top: 4px;
				right: 4px;
				background-color: $theme_color_main_dark;
			}
			&.event-hosting {
				bottom: 4px;
				left: 4px;
				background-color: $theme_color_main_light;
			}
		}
	}

	.calendar-popup {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: none;
		outline: 2px solid $theme_color_main_light;
		border-radius: 2px;

		.calendar-popup-relative {
			position: relative;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: white;
		}

		.calendar-popup-close {
			position: absolute;
			top: 0px;
			right: 5px;
			cursor: pointer;
			color: $theme_color_main_dark;
		}

		.calendar-popup-title {
			text-align: center;
			border-bottom: 2px solid $theme_color_main_light;
			color: $theme_color_main_light;
			font-weight: bold;
			border-radius: 10px;
			height: 7%;
		}

		.calendar-popup-content {
			color: $theme_color_main_dark;
			padding: 5px;
			height: 90%;
			overflow-y: auto;

			.event-legend {
				color: $theme_color_main_light;
			}

			a.calendar-event-link {
				cursor: pointer;
				display: block;
				margin: 10px 0;
				padding-left: 30px;
			}

			span {
				margin-left: 5px;
			}
		}

	}

	.legend-wrapper {
		text-align: center;

		.dot {
			width: 7px;
			height: 7px;
			border-radius: 50%;
			vertical-align: middle;
			line-height: 1em;
			margin: 0 5px;
		}

		.legend-participating {
			color: $theme_color_main_dark;
			.dot {
				background-color: $theme_color_main_dark;
				display: inline-block;
			}
		}
		.legend-hosting {
			color: $theme_color_main_light;
			.dot {
				background-color: $theme_color_main_light;
				display: inline-block;
			}
		}
	}

	button {
		color: $theme_color_main_light;
		border: 0 none;
		background-color: transparent;
		cursor: pointer;
		font-size: 200%;

		&.calendar-button-left {
			float: left;
		}

		&.calendar-button-right {
			float: right;
		}
	}
}





