.error {
    color: #f56e4d;
}

.basic-form .error ul,
.basic-form .error li {
    list-style-type: none;
    display: block;
    margin: 0;
    padding: 0;
    font-size: 80%;
}

.short-message {
    -webkit-animation: fadeOut 2s;
    animation: fadeOut 2s;
    opacity: 0;
    padding-top: 5px;
}

@-webkit-keyframes fadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}

@keyframes fadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}
