@use 'variables';

header {
    position: relative;
    overflow: hidden;
    background-color: $theme_color_main_light;
    border-bottom: 3px solid $theme_color_main_dark;
    padding: 0;
    margin: 0;

    .expand-icon {
        display: none;
        position: absolute;
        right: 5px;
        top: 5px;
        cursor: pointer;

        i {
            color: $theme_color_background_light;
            font-size: 200%;
        }
    }
}

.nav-button {
    display: block;
    padding: 12px 20px;
    cursor: pointer;
    text-align: center;
    color: $theme_color_background_light;
    text-decoration: none;

    &.left {
        float: left;
    }

    &.right {
        float: right;
    }

    &:hover, &.active {
        background-color: $theme_color_main_dark;
    }
}

@media screen and (max-width: $mobile_limit) {
    #nav-menu .nav-button {
        float: left; /* Force left floating items to go to the left and make space for the sandwich menu */
    }
    #nav-menu .nav-button:not(.active) {
        display: none;
    }
    #nav-menu .expand-icon {
        display: inline;
    }
    #nav-menu.mobile-view .nav-button {
        float: none;
        display: block;
        text-align: left;
    }
}
