@import 'variables';
$theme_color_background_light: #F4F7F0;
$theme_color_background_dark: #BFD2D0;
$theme_color_main_dark: #645c9f;
$theme_color_main_light: #eed102;

@import 'combined.scss';
