@import 'variables';
$theme_color_background_light: #F4F7F0;
$theme_color_background_dark: #BFD2D0;
$theme_color_main_dark: #0f596e;
$theme_color_main_light: #eb6012;
$theme_color_default_background: #ffffff;

@import 'combined.scss';
