#whats_new {
    position: relative;
    background-color: white;
    border: 2px solid $theme_color_main_light;
    border-radius: 3px;
    max-width: 100%;
    margin: 0 10px;
    padding: 0;

    .whats-new-table {
        border-spacing: 4px;
        width: 350px;
        margin: 0 auto;
    }

    .whats-new-title {
		border-bottom: 2px solid $theme_color_main_light;
		color: $theme_color_main_light;
		font-weight: bold;
		border-radius: 10px;
        text-align: center;
    }

    .whats-new-content-item {
        color: $theme_color_main_dark;
        border-bottom: 1px solid $theme_color_main_light;
        border-radius: 3px;
        padding: 1px 15px;
        max-width: 1px;
    }
}