.event-comments {
    border: 2px solid $theme_color_main_light;
    border-radius: 3px;
    margin: 5px;
    flex: 1;
    background-color: white;

    .event-comment {
        border: 1px solid $theme_color_main_dark;
        margin: 10px 3px;
        font-size: 80%;
        background-color: $theme_color_background_light;

        .event-comment-author {
            color: $theme_color_main_dark;
            font-weight: bold;
        }

        .event-comment-date {
            color: $theme_color_main_light;
            font-weight: bold;
        }

        .event-comment-content {
            position: relative;
            max-height: 150px;
            overflow-y: auto;
            border: 1px dashed $theme_color_main_light;
            padding: 3px;

            .edit-comment-button {
                color: $theme_color_main_light;
                cursor: pointer;
            }
        }
    }

    .no-comments {
        color: $theme_color_main_dark;
        padding: 5px;
    }

    #comment {
        width: 50%;
        height: 100px;
        vertical-align: middle;
        margin: 3px;
        border: 1px solid $theme_color_main_dark;
        background-color: $theme_color_background_light;
    }

    #make_comment {
        vertical-align: middle;
        color: $theme_color_main_dark;
        padding: 5px 10px;
        cursor: pointer;
    }
}